
body {
    background-color: #fffbf7;
    margin:0px;
    padding:0px;
}
h1 {
color: #025157;
text-align: center;
}
p{
color:#46484c;
font-family: verdana;
font-size:20px;
text-align: center;
}
button{
color:#fff;
background-color: #025157;
}
.conteiner-header{


    /*margen extrenos*/
    /*
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    */
    /*     top   r    b   l */
    margin:40px 20px 20px 40px;
    /* Margen internos
    padding-top:50px;
    padding-left:40px;
    padding-right:40Px;
    padding-bottom:50px;
    */
    /*      top   r    b   l */



}
.fixed-header
{position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #fffbf7;
}

.conteiner-header >* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
    height: 100%;

}

li{ 
    display:inline;
  }
.logo {
    width: 15%;
  }
  .logo > img{
    width: 15%;
  }
  
  .Nav {
    width: 60%;
    text-align:center;
    color: #025157;
    font-weight: 500;
    }
  
  .actions {
    width: 15%;
    text-align:right;
    font-size:14px;
    font-weight: 600;
  }
  .main{
    margin-top: 285px;
    text-align: center;
  }
  .promo
  {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  
  }
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 29px;
    margin-top: 10px;
  }

  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  .publish> p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20;
  }
  .publish > form{ 
    display: flex;
  }
    .publish > form p {
      color: #025157;
      margin-right: 18px;
    
    }

    .features{
      display: grid;
     /** grid-template-columns: repeat(4, 300px); **/
      grid-template-columns: repeat(3, 1fr) ;
    

    }
    .features > article{
      width: 300px;
      height: 300px;
      border-radius: 12px;
      background-color: rgb(10, 106, 12);
    }

  
